@model EMS.Domain.Models.Event

@{
    ViewData["Title"] = "Details";
}

<div class="container p-3">
    <div class="w-75 m-auto rounded p-5 bg-white">
        <h4 class="text-center text-secondary">Event Details</h4>
        <hr />
        <dl class="row">
            <div class="col-4">
                <img src="@Model.EventImage" width="100%" />
            </div>
            <div class="col-8 row">
                <dt class="col-sm-3 d-flex align-items-center">
                    @Html.DisplayNameFor(model => model.EventName)
                </dt>
                <dd class="col-sm-9 d-flex align-items-center">
                    @Html.DisplayFor(model => model.EventName)
                </dd>
                <hr class="mx-3" />
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.EventDescription)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.EventDescription)
                </dd>
            </div>
        </dl>

        <div class="ps-3">
            <a asp-action="Index" class="btn btn-outline-secondary">
                <i class="bi bi-arrow-left"></i> Back
            </a> |
            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
        </div>
        <hr/>
        <div class="container m-3 pt-3">
            @if (Model.ScheduledEvents?.Count > 0)
            {
                <h5>Scheduled Events</h5>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Location</th>
                            <th scope="col">Date and Time</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.ScheduledEvents.Count; i++)
                        {
                            var item = Model.ScheduledEvents.ElementAt(i);
                            <tr>
                                <th scope="row"><b>@(i + 1): </b></th>
                                <td>@item.Event.EventName</td>
                                <td>@item.ScheduledEventLocation</td>
                                <td>@item.ScheduledEventDateTime.Value.ToLongDateString() - @item.ScheduledEventDateTime.Value.ToLongTimeString()</td>
                                <td><a class="btn btn-success" asp-action="Details" asp-controller="ScheduledEvents" asp-route-id=@item.Id>Book your tickets</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <h4>No scheduled events for now</h4>
            }
        </div>
    </div>
</div>
