@model EMS.Domain.Models.ScheduledEvent

@{
    ViewData["Title"] = "Details";
}

<div class="container p-3">
    <div class="w-75 m-auto rounded p-5 bg-white">
        <h4 class="text-center text-secondary">Scheduled Event Details</h4>
        <hr />
        <dl class="row">
            <div class="col-4">
                <img src="@Model.ScheduledEventImage" width="100%" />
            </div>
            <div class="col-8 row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.ScheduledEventDateTime)
                </dt>
                <dd class = "col-sm-9">
                    @Html.DisplayFor(model => model.ScheduledEventDateTime)
                </dd>
                <dt class = "col-sm-3">
                    @Html.DisplayNameFor(model => model.ScheduledEventLocation)
                </dt>
                <dd class = "col-sm-9">
                    @Html.DisplayFor(model => model.ScheduledEventLocation)
                </dd>
                <dt class = "col-sm-3">
                    @Html.DisplayNameFor(model => model.Event.EventName)
                </dt>
                <dd class = "col-sm-9">
                    @Html.DisplayFor(model => model.Event.EventName)
                </dd>
            </div>
        </dl>

        <div class="ps-3">
            <a asp-action="Index" class="btn btn-outline-secondary">
                <i class="bi bi-arrow-left"></i> Back
            </a> |
            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
        </div>
        <hr />

        <div class="container m-3">
            @if (Model.Tickets?.Count > 0)
            {
                <h4>Tickets</h4>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Price</th>
                            <th scope="col">Scheduled Event</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Tickets.Count; i++)
                        {
                            var item = Model.Tickets.ElementAt(i);
                            <tr>
                                <th scope="row"><b>@(i + 1): </b></th>
                                <td>@item.TicketPrice MKD</td>
                                <td>@item.ScheduledEvent.EventNameDisplay</td>
                                <td><a class="btn btn-success" asp-action="Details" asp-controller="Tickets" asp-route-id=@item.Id>Book your tickets</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <h4>No tickets for this scheduled event</h4>
            }
        </div>
    </div>
</div>
